{% extends "::main.html.twig" %}
{% block content %}
    <div class="container blog singlepost">
        <div class="row">
            <article class="col-md-1"></article>
            <article class="col-md-10">
                <h1 class="page-header sidebar-title">FAQ</h1>

                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    How do you win with synergylotto?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                Participate in the weekly draw to win either the midweek draw or the weekend draw. You only need to participate once between Monday and Sunday to be eligible for the two draws the following week. Once you have entered and your bitcoin transaction is confirmed, you will receive a ticket number. Retain your ticket number as you will use it to confirm your win. 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    How do I know if I won?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                Check the results page every Wednesday 5PM (GMT) and Saturday 5PM (GMT) for the winning numbers. Confirm your ticket and if you have won, use the contact page on the winners’ page. A confirmation by email will verify your win. 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    How is the winner selected?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body">
                                The system uses a built-in algorithm to select a random winner and this process is purely machine driven to avoid bias. All entries stand an equal chance to win and the system is set to automatically run the selection without any human intervention at the set times. These numbers will then be published on the website and are not revocable. 
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    What would happen to an unclaimed bounty?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                            <div class="panel-body">
                                Any unclaimed bounty is added to the charity kitty and will be donated or used in a community project. Unclaimed bounty will not be returned to any other kitty. Bounty qualifies to be tagged as unclaimed if it has remained unclaimed for 7 days from the date of selection and subsequent posting on the website. So ensure you check as the system will not send you any alerts. This is to avoid potential double claims.
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSix">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                    Does synergy verify the identity of the winner?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                            <div class="panel-body">
                                The ticket numbers are tied to your BTC payment and to your user profile. As we will request photos and telephone numbers, adequate verification measures will be put in place to ensure that only the genuine winner can collect the bounty. Bounty will be sent in BTC and only to the same address that remitted it which will be compared against your declared BTC address on the profile. This should beat potential fraudulent claimants.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingSeven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                    Can I participate more than once?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                            <div class="panel-body">
                                At the moment, the system will only allow one entry per week which earns you one entry to the mid-week draw and another entry to the weekend draw. This means one ticket entitles you to both draws but you cannot enter more than once. The registration process is designed to ensure no double registration too, so this will keep the system balanced and realise the same odds for everyone. At some stage, it might become possible to permit multiple entries per person but that will be later.
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEight">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                    What are the draw times?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                            <div class="panel-body">
                                SynergyLotto has two draws a week: 
                                <ul>
                                    <li>Wednesday: 17:00 GMT</li>
                                    <li>Saturday: 17:00 GMT</li>
                                </ul>
                                Deadline for entries into the draw is 23:59 on Sunday. Entries received after this time will be entered into the next week’s draw.

                                The results of the synergylotto draw are first displayed on the synergylotto website on the day of the draw. They are published on the website at 17:15 on the day of the draw on the Results page.

                            </div>
                        </div>

                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingNine">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                    Must I register to play?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTen" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTen">
                            <div class="panel-body">
                                You must register with verifiable credentials as per the registration form. Your identity is important for the verification process to ensure winnings are only paid to the correct person. It is also important to furnish the correct details as they are used to tie your deposits to your account to avoid mistakes that could result in wrong pay-outs. Registration also confirms eligibility to participate. 
                            </div>
                        </div>

                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingEleven">
                            <h4 class="panel-title">
                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                                    Who chooses the charity projects?
                                </a>
                            </h4>
                        </div>
                        <div id="collapseEleven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEleven">
                            <div class="panel-body">
                                Synergy lotto will form a blog community where we hope to engage each other on the blog. This community will be pivotal in the success of not only the lottery venture but more importantly the charity projects. There will be a process set in motion to nominate projects and these will be free for any registered member to propose. So the synerygylotto community will be involved in every aspect of the community development projects.
                            </div>
                        </div>

                    </div>
                </div>
            </article>
            <article class="col-md-1"></article>
        </div>
        <script>
            $(function () {
                $("#linkFaq").addClass("active");
            });
        </script>
    </div>
{% endblock%}