{# empty Twig template #}
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <h4>Hello {{name}},</h4>
    
<br/>
    <p>thank you for signing up to SynergyLotto, to get started you will need to verify your email address. To do so, please click the link below.</p><hr>
<a href="https://www.synergylotto.com/accountVerification/{{token}}" class="btn-primary btn-block">Click here</a><br/>
If this email was sent to you by mistake, kindly delete it and ignore.

   
</html>