{% extends "::main.html.twig" %}
{% block content %}
    <div class="container blog singlepost">
        <div class="row">
            <article class="col-md-2"></article>
            <article class="col-md-8">
                <h1 class="page-header sidebar-title">Registration Complete</h1>
                <h3> Verification link has been sent to your email. Please verify so as to activate your account.</h3>
            </article>
            <article class="col-md-2"></article>
        </div>
    </div>
{% endblock%}