{% extends "::main.html.twig" %}
{% block content %}
    <div class="container blog singlepost">
        <div class="row">
            <div class="col-md-2"></div>
            <article class="col-md-8">
                <h2 class="page-header sidebar-title">Verification link has been sent to your email. Please verify so as to activate your account.</h2>
            </article>
            <div class="col-md-2"></div>
            <!-- Blog Sidebar Column -->

        </div>
    </div>
{% endblock%}