{% extends "::base.html.twig" %}

{% block content %}
    <!-- /inner_content-->
    <div class="inner_content">
        <div class="w3l_agileits_breadcrumbs">
            <div class="w3l_agileits_breadcrumbs_inner">
                <ul>
                    <li><a href="{{path("lotto_user_homepage")}}">Dashboard</a><span>«</span></li>
                    <li>Receipt</li>

                </ul>
            </div>
        </div>
        <div class="inner_content_w3_agile_info two_in">
            
            <!--/forms-->
            <div class="forms-main_agileits">
                <div class="graph-form agile_info_shadow">
                    <h3 class="w3_inner_tittle two">Invalid Operation </h3><hr>
                    
                   
                    <div class="form-body">
                       <h3>Users are not allowed to participate in a particaular Lotto more than once. New Lotto begins every <strong>Monday</strong>. Thank you.</h3>
                    </div>
                </div>
                <!--/forms-inner-->
                <div class="forms-inner">
                    <!--/set-1-->
                    <div class="set-1_w3ls">
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div> 

        </div>
    </div>
{% endblock %}